<%- include('include/_header')%>
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i>All Toys</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">New Toy<i class="fa-solid fa-plus-large fa-beat"></i></h2>
                <span class="text-light">Adding new toy</span>
            </div>

            <%- include('include/_form')%>

        </div>
    </main>

    <%- include('include/_footer')%>